* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --red: #a52a2a;
  --darkred: #8f0700;
  --black: rgb(13, 13, 13);
  --white: #fdf8f8;
  --bgColor: rgb(247, 245, 245);
}

html {
  scroll-behavior: smooth;
  background-color: var(--bgColor);
  font-family: "Open Sans", sans-serif;
  color: var(--black);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

h1 {
  font-size: 2.5rem;
  padding: 0.5rem 0;
}

p {
  line-height: 1.5rem;
  font-weight: 500;
  color: var(--black);
  letter-spacing: 1px;
  font-size: 0.9rem;
}

a {
  text-decoration: none;
  color: var(--red);
}

svg {
  vertical-align: middle;
  margin-right: 0.2rem;
}

.boxShadow {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.368);
}

.buttonPrimary {
  background-image: linear-gradient(to bottom, #b55d5d, #9f0101);
  background-image: linear-gradient(to bottom, #312c2c, #0f0e0e);
  color: var(--white);
  opacity: 0.85;
  border-radius: 0.2rem;
  padding: 0.6rem 1.5rem;
  border: none;
  cursor: pointer;
  box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.49);
  transition: all 0.3s;
}

.buttonPrimary:hover {
  filter: brightness(0.95);
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.49);
  transform: scale(1.02);
}

.buttonSecondary {
  background-color: transparent;
  color: var(--black);
  border: solid var(--black);
  cursor: pointer;
  border-radius: 0.4rem;
  padding: 0.6rem 1.5rem;
  font-weight: 700;
  box-shadow: 0px 0rem 0.5rem rgba(0, 0, 0, 0.49);
}

.buttonSecondary:hover {
  box-shadow: 0px 0rem 0.7rem rgba(0, 0, 0, 0.49);
}

.colorBlack {
  color: var(--black);
}

.colorWhite {
  color: var(--white);
}

.colorRed {
  color: var(--red);
  font-weight: 500;
}

header {
  height: 5rem;
  background-color: white;
  overflow: hidden;
}

header div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
}

header a:nth-child(1) {
  height: 100%;
}

.headerLogo {
  height: 100%;
  width: auto;
}

header svg {
  font-size: 1.5rem;
}

.hero {
  position: relative;
  overflow: hidden;
  background-color: var(--white);
}

.heroWrapper {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}

/* .backgroundVideo {
  position: absolute;
  left: 0;
  top: 0;
  opacity: .3;
  pointer-events: none;
  transform: scale(1.7);
  object-fit: fill;
} */

/* .heroContent:nth-child(1) {
  position: relative;
  z-index: 1;
} */

.heroHeadline {
  opacity: 0;
  overflow: hidden;
  margin: 12rem auto;
}

.heroHeadline h1 {
  font-size: 3.5rem;
  color: var(--black);
  max-width: 700px;
}

.introVideoWrapper {
  width: 100%;
  max-width: 700px;
  height: auto;
  margin-left: auto;
  background-color: white;
}

.heroFlex {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
  margin: 12rem 0;
  gap: 5rem;
}

.heroFlex div {
  text-align: center;
  flex: 1;
  min-width: 350px;
}

.heroFlex h1 {
  color: var(--red);
  padding: 0 0 1rem;
}

.team {
  margin: 5rem 0 12rem;
}

.team h1 {
  font-size: 3.5rem;
  text-align: center;
}

.teamFlex {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-evenly;
  gap: 2rem;
}

.avatar {
  text-align: center;
  width: 250px;
}

.avatar img {
  height: auto;
  width: 100%;
  object-fit: cover;
  object-position: 50%;
}

.avatar h2:nth-child(3) {
  font-weight: 200;
}

.avatar p {
  opacity: 0.8;
  font-weight: 200;
}

.avatar a {
  line-height: 5rem;
  font-size: 0.8rem;
}

.buttonAvatar {
  color: var(--white);
}

.sectionHeader {
  width: 100vw;
  height: 30rem;
  margin: 0 auto;
  text-align: center;
  background-position: center center;
  background-size: cover;
  opacity: 0.77;
}

.sectionHeader h1 {
  font-size: 3.5rem;
  position: relative;
  color: var(--white);
  font-weight: 600;
  padding: 1rem;
  top: 50%;
  transform: translate(0, -50%);
  text-shadow: 0 0 1px white;
}

.trainingAndCoachingSectionHeader {
  /* linear-gradient(#c9312cd9, #c9312cc4), */
  background-image: linear-gradient(#0c0c0cd9, #131313c4),
    url(./images/training-section-header-bg.jpg);
}

.topReasonsSectionHeader {
  background-image: linear-gradient(#0c0c0cd9, #131313c4),
    url(./images/top-reasons-section-header-bg.jpg);
}

.ourTechnologySectionHeader {
  background-image: linear-gradient(#0c0c0cd9, #131313c4),
    url(./images/our-tech-section-header-bg.jpg);
}

.careersSectionHeader {
  background-image: linear-gradient(#0c0c0cd9, #131313c4),
    url(./images/join-us-section-header-bg.jpeg);
}

.trainingWrapper {
  padding: 0 0 10rem;
}

.flexWrap {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap-reverse;
  width: 95%;
  max-width: 1200px;
  margin: 5rem auto;
  gap: 3rem;
}

.flexWrapReverse {
  flex-direction: row-reverse;
}

.flexWrap div {
  flex: 1;
  min-width: 300px;
  max-width: 650px;
}

.flexWrap h1 {
  font-size: 2rem;
  color: var(--red);
}

.flexWrap img {
  width: 100%;
  max-width: 650px;
  min-width: 300px;
  height: auto;
  flex: 2;
}

.difference {
  background-color: var(--white);
  width: 100%;
  padding: 8rem 0 12rem;
}

.differenceFlexWrap {
  display: flex;
  align-items: baseline;
  width: 95%;
  max-width: 1250px;
  margin: 0 auto;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5rem;
}

.differenceText {
  flex: 1;
  min-width: 300px;
}

.differenceText h1 {
  color: var(--red);
}

.ProgessBars {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.differenceProgessBars p {
  display: inline-block;
  font-size: 1rem;
}

.progessBarsTitle {
  padding: 1rem 0 0;
}

.progressBar {
  position: relative;
  width: 100%;
  height: 2rem;
  margin: 0 0 1rem;
  border-radius: 0.2rem;
  background-color: rgba(128, 128, 128, 0.216);
  overflow: hidden;
}

.progressBar div {
  border-radius: 0.2rem;
}

.progessBarSpan {
  position: absolute;
  left: 0;
  font-size: 0.7rem;
  color: var(--white);
  padding: 0.5rem 0.6rem;
  z-index: 1;
}

.growthKeller {
  height: 100%;
  background-color: var(--red);
}

.growthIndustry {
  height: 100%;
  background-color: rgb(81, 81, 81);
}

.reasonsWrapper {
  display: flex;
  justify-content: center;
  align-items: baseline;
  width: 95%;
  margin: 10rem auto 15rem;
  flex-wrap: wrap;
  gap: 8rem 1rem;
}

.reason {
  min-width: 200px;
  max-width: 600px;
  padding: 0 2rem;
}

.reason h2 {
  color: var(--black);
  padding: 1rem 0;
}

.reason div {
  height: 8rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.reason div svg {
  font-size: 5rem;
  margin: 0;
  color: var(--red);
}
.reason div svg:hover {
  transform: scale(1.03);
  transition: transform 0.2s;
}

.reason p {
  max-width: 350px;
}

.technologyWrapper {
  margin: 0 auto;
  padding: 10rem 0 15rem;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  background-color: var(--white);
}

.technology {
  position: relative;
  width: 400px;
  max-width: 95%;
  height: 600px;
  height: auto;
  border-radius: 0.1rem;
  background-color: rgb(255, 255, 255);
}

.technology h2 {
  padding: 1.5rem 0 0;
}

.technology p {
  padding: 1rem 0;
}

.technologyImgWrapper {
  width: 100%;
  height: 218px;
  overflow: hidden;
}

.technology img {
  width: 100%;
  object-fit: cover;
  filter: contrast(0.5);
  object-position: 0 -2.7rem;
}

.technologyText {
  min-height: 200px;
}

.watchVideoButton {
  position: absolute;
  top: 220px;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.4s;
  border: none;
  color: var(--white);
  font-weight: 600;
  background-color: var(--black);
  padding: 0.5rem 1rem;
  min-width: 150px;
  border-radius: 0.1rem;
  cursor: pointer;
}

.watchVideoButton svg {
  margin-right: 0.5rem;
  color: var(--white);
}

.watchVideoButton:hover {
  filter: brightness(0.9);
  /* background-color: rgb(235, 219, 219);
  border-color: rgba(255, 0, 0, 0.803); */
}

.technologyFront {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.technologyHover {
  padding: 2rem 1rem 1rem;
  display: none;
  height: 100%;
  flex-direction: column;
  justify-content: CENTER;
}

.technologyHover p {
  font-size: 0.8rem;
}

.technology:hover .technologyHover {
  display: flex;
}

.technology:hover .technologyFront {
  display: none;
}

.technology:hover img {
  transform: scale(1.05);
  transition: transform 0.4s ease-out;
}

.technology:hover {
  transform: translate(0, -0.1rem);
  transition: transform 0.1s;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.368);
}

.technologyVideoWrapper {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.849);
}

.technologyVideoPlayer {
  position: relative;
  display: inline-block;
  width: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 95%;
}

.closeVideo {
  position: absolute;
  top: -2rem;
  right: -2rem;
  cursor: pointer;
  font-size: 2.5rem;
  font-weight: 900;
}

.closeVideo::after {
  content: "\00d7";
}

.careers {
  padding: 5rem 0 15rem;
  background-color: var(--white);
}

.job {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 0.1rem;
  border-top: 1px solid;
}

.jobToggle hr {
  margin: 2rem auto;
  opacity: 0.1;
}

.jobTitle {
  min-height: 15rem;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.1rem;
  background-color: var(--white);
}

.jobTitle.open {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.jobTitle h1 {
  font-size: 2rem;
  max-width: 500px;
}

.jobTitle h3 {
  text-align: right;
}

.jobTitle div:first-child {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  cursor: pointer;
}

.jobToggle {
  display: none;
  transition: all 1s;
  background-color: var(--white);
  padding: 0 0 2rem;
}

.jobToggle.open {
  display: block;
  transition: all 1s;
}

.jobToggle button {
  display: block;
  border: none;
  width: auto;
  margin: 0 auto 3rem;
}

.jobForm {
  padding: 3rem 0 10rem;
}

.jobFlex {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 95%;
  margin: 0 auto;
  gap: 1rem;
}

.jobFlex h3 {
  flex: 1 2;
  font-weight: 600;
  min-width: 250px;
}

.jobFlex p {
  flex: 2 1;
  min-width: 330px;
}

.careersForm {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding: 0 0 2rem;
  max-width: 400px;
  width: 95%;
  margin: 0 auto;
}

.careersForm h1 {
  padding: 0 0 3rem;
  color: var(--red);
  width: 100%;
}

.careersForm div {
  position: relative;
  width: 100%;
  margin: 0.5rem;
}

.inputWrapper label {
  position: absolute;
  top: -0.4rem;
  left: 0.5rem;
  font-size: 0.65rem;
  font-weight: 500;
  padding: 0 0.3rem;
  background-color: var(--white);
  z-index: 2;
  pointer-events: none;
}

.inputWrapper input,
textarea,
select {
  font-family: "Open Sans", sans-serif;
  background-image: linear-gradient(to bottom, var(--white), white);
  width: 100%;
  border: 0.1rem solid rgba(15, 15, 15, 0.762);
  border-radius: 0.3rem;
  accent-color: var(--red);
  padding: 0.5rem;
  resize: vertical;
}

.inputWrapper input, select {
  height: 3rem;
}

.careersForm input[type="checkbox"] {
  accent-color: var(--red);
}

.checkBox {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}

.checkBox label {
  vertical-align: middle;
}

.checkBox input {
  margin-right: 0.5rem;
  vertical-align: middle;
}

.careersButton {
  background: transparent;
  border: solid var(--red);
  color: var(--red);
  width: 10rem;
}

.formSuccess {
  display: none;
  position: relative;
  border: solid rgb(34, 149, 34);
  border-radius: 0.2rem;
  padding: 0.5rem;
  margin: 1rem;
  text-align: center;
  color: green;
  padding: 2rem;
}

.closeSuccess {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.formSuccess svg {
  font-size: 3rem;
  margin: 1rem;
}

.formError {
  display: none;
  position: relative;
  border: solid rgb(35, 25, 126);
  border-radius: 0.2rem;
  padding: 0.5rem;
  margin: 1rem;
  text-align: center;
  color: rgb(35, 25, 126);
  padding: 2rem;
}

.formError {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.formError svg {
  font-size: 3rem;
  margin: 1rem;
}

.contact {
  background-color: #52525114;
  border-top: 0.25rem solid var(--red);
  padding: 8rem 0;
}

.contactDetails {
  text-align: center;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
}

.contactDetails h1 {
  font-size: 3.5rem;
  padding: 0 0 3rem;
}

.contactDetails svg {
  font-size: 2.8rem;
}

.contactDetails h2 {
  padding: 0.5rem;
}

.contactDetails a {
  color: var(--red);
}

.contactDetails svg {
  color: var(--red);
}

footer {
  background-color: var(--red);
  text-align: center;
  padding: 1rem 0.5rem;
}

footer p,
footer a {
  color: white;
  font-weight: 100;
  font-size: 0.7rem;
  opacity: 0.7;
}
