* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* --red: #CE0C00; */
  --udkred: #e70036;
  --red: #a52a2a;
  --darkred: #8f0700;
  --black: rgb(13, 13, 13);
  --white: #fffafa;

  --bgColor: rgba(245, 240, 240, 0.838);;
}

html {
  scroll-behavior: smooth;
  background-color: var(--bgColor);
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

h1 {
  font-size: 2.5rem;
  padding: 0.5rem 0;
}

p {
  line-height: 1.5rem;
  font-weight: 500;
  color: var(--black);
  letter-spacing: 1px
}

a {
  text-decoration: none;
}

.boxShadow {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.368);
}

.buttonPrimary {
  background-color: var(--red);
  color: var(--white);
  opacity: .9;
  border-radius: 2rem;
}

.colorBlack {
  color: var(--black);
}

.colorWhite {
  color: var(--white);
}

.colorRed {
  color: var(--red);
  font-weight: 500;
}

header {
  height: 5rem;
  background-color: white;
  overflow: hidden ;
}

header div {
  display: flex;
  justify-content: space-between;
  max-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.headerLogo {
  max-height: 5rem;
  width: auto;
}

header a:nth-child(2) {
 
  width: auto;
  margin: auto 0;
  padding: .5rem 1rem;
}

svg {
  vertical-align: middle;
  margin-right: .2rem;
}

.main {
  position: relative;
  overflow: hidden;
  background-color: var(--white);
}

.backgroundVideo {
  position: absolute;
  left: 0;
  top: 0;
  opacity: .3;
  pointer-events: none;
  transform: scale(1.7);
  object-fit: fill;
}

.mainHeadline {
  overflow: hidden;
  max-width: 1200px;
  margin: 8rem auto;
}

.mainHeadline h1 {
  color: var(--black);
  text-align: left;
  max-width: 50%;
}


.mainContent {
  /* background-color: rgba(2, 2, 2, 0.832); */
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  border-radius: .1rem;
}

.mainContent:nth-child(1) {
  position: relative;
  z-index: 1;
}

.introVideoWrapper {
  width: fit-content;
  height: fit-content;
  margin-left: auto;
  padding: 0 5rem;
  background-color: var(--bgColor);
}


/* .mainFlex1 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem 0;
} */

/* .mainLogo {
  flex: 1;
  width: 50%;
  min-width: 400px;
  height: auto;
  border-radius: .3rem;
} */

/* .mainFlex1 form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  gap: .3rem;
  width: 50%;
  min-width: 300px;
} */

/* .mainFlex1 form input, textarea{
  font-family: 'Open Sans', sans-serif;
  font-size: .9rem;
  border-radius: .3rem;
  width: 100%;
  padding: .7rem;
  border: none;
  resize:vertical;
} */

/* .mainFlex1 form input:nth-child(4){
  padding-bottom: 3rem;
}

.mainFlex1 form input:nth-child(5){
  cursor: pointer;
} */

.mainFlex2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 8rem 0;
}

.mainFlex2 div {
  flex: 1;
  padding: 0 1rem;
  min-width: 300px;
}

.mainFlex2 h1 {
  color: var(--red);
  text-align: left;
  padding: 3rem 0 1rem;
}

.mainFlex2 p {
  width: 80%;
}

.team {
  margin: 8rem 0;
}

.team h1 {
text-align: center;
}

.teamContent {
  width: 95%;
  max-width: 900px;
  margin: 3rem auto 0;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-evenly;
  gap: 2.5rem;
}

.avatar {
  text-align: center;
  max-width: 300px;
  min-width: 300px;
}

.avatar img {
  height: auto;
  width: 100%;
  object-fit: cover;
  object-position: 50%;
}

.avatar h2 {
  padding: 0 1rem;
}

.avatar h2:nth-child(3) {
  font-weight: 200;
}

.avatar p {
  opacity: .8;
  font-weight: 200;
}

.avatar a {
  line-height: 5rem;
  padding: .5rem 1rem;
}

.buttonAvatar {
  color: var(--white);

}

.sectionHeader {
  height: 25rem;
  text-align: center;
  background-position: center center;
  background-size: cover;
  opacity: .77;
}

.sectionHeader h1 {
  position: relative;
  color: var(--white);
  font-weight: 600;
  padding: 1rem;
  top: 50%;
  transform: translate(0, -50%);
}

.trainingAndCoachingSectionHeader {
  /* linear-gradient(#c9312cd9, #c9312cc4), */
  background-image: linear-gradient(#0c0c0cd9, #131313c4), url(./images/training-section-header-bg.jpg);
}

.topReasonsSectionHeader {
  background-image: linear-gradient(#0c0c0cd9, #131313c4), url(./images/top-reasons-section-header-bg.jpg);
}

.ourTechnologySectionHeader {
  background-image: linear-gradient(#0c0c0cd9, #131313c4), url(./images/our-tech-section-header-bg.jpg);
}

.careersSectionHeader {
  background-image: linear-gradient(#0c0c0cd9, #131313c4), url(./images/join-us-section-header-bg.jpeg);
}

.trainingWrapper {
  padding: 3rem 0;
}

.flexWrap {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap-reverse;
  width: 95%;
  max-width: 1150px;
  margin: 5rem auto;
  gap: 3rem;
}

.flexWrapReverse {
  flex-direction: row-reverse;
}

.flexWrap div {
  flex: 1;
  min-width: 300px;
  max-width: 650px;
}

.flexWrap h1 {
  color: var(--red);
}

.flexWrap p {
  text-align: justify;
}

.flexWrap img {
  width: 100%;
  max-width: 650px;
  min-width: 300px;
  height: auto;
  flex: 2;
}

.difference {
  background-color: var(--white);
  width: 100%;
  padding: 8rem 0;
}

.differenceFlexWrap {
  display: flex;
  align-items: stretch;
  width: 95%;
  max-width: 1250px;
  margin: 0 auto;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5rem;
}

.differenceText {
  flex: 1;
  min-width: 300px;
}

.differenceText h1 {
  color: var(--red);
}

.differenceProgessBars {
  flex: 2;
  width: 50%;
  min-width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.differenceProgessBars p {
  display: inline-block;
  font-size: 1rem;

}

.differenceProgessBars div p:nth-child(1) {
  padding: 1rem 0 0;
}

.progressBar {
  position: relative;
  width: 100%;
  height: 2rem;
  margin: 0 0 1rem;
  border-radius: .2rem;
  background-color: rgba(128, 128, 128, 0.216);
}

.progressBar div {
  border-radius: .2rem;
}

.progressBar span {
  position: absolute;
  left: 0;
  font-size: .7rem;
  color: var(--white);
  padding: .5rem .6rem;
}

.growthKeller{
  height: 100%;
  background-color: var(--red);
}

.growthIndustry {
  height: 100%;
  background-color: rgb(81, 81, 81);
}

.reasonsWrapper {
  display: flex;
  justify-content: center;
  align-items: baseline;
  width: 95%;
  margin: 8rem auto;
  flex-wrap: wrap;
  gap: 5rem 1rem;
}

.reason {
  min-width: 200px;
  max-width: 600px;
  padding: 0 2rem;
}

.reason h2 {
  color: var(--black);
  padding: 1rem 0;
}

.reason div {
  height: 8rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.reason div svg {
  font-size: 5rem;
  margin: 0;
  color: var(--red)
}
.reason div svg:hover {
  transform: scale(1.03);
  transition: transform .2s;
}


.reason p {
  max-width: 350px;
}

.technologyWrapper {
  margin: 0 auto;
  padding: 8rem 0;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  background-color: var(--white);
}

.technology {
  position: relative;
  width: 400px; 
  height: auto;
  border-radius: .1rem;
  background-color: rgba(255, 255, 255, 0.845);
}

.technology h2 {
  padding: 1.5rem 0 0;
 
}

.technology p {
  padding: 1rem 0;
}

.technologyImgWrapper {
  width: 100%;
  height: 218px;
  overflow: hidden;
}

.technology img {
  width: 100%;
  object-fit: cover;
  filter: contrast(.5);
  object-position: 0 -2.7rem;
}

.technologyText {
  height: 200px;
}

.watchVideoButton {
  position: absolute;
  top: 220px;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all .4s;
  border: none;
  color: var(--white);
  font-weight: 600;
  background-color: var(--black);
  padding: .5rem 1rem;
  border-radius: .1rem;
  cursor: pointer;
}

.watchVideoButton svg {
  margin-right: .5rem;
  color: var(--white);
}

.watchVideoButton:hover {
  filter: brightness(.9);
  /* background-color: rgb(235, 219, 219);
  border-color: rgba(255, 0, 0, 0.803); */
}

.technologyFront {
display: flex;
flex-direction: column;
padding: 1rem;
}

.technologyHover {
  padding: 2rem 1rem 1rem;
  display: none;
  height: 100%;
  flex-direction: column;
  justify-content: CENTER;
}

.technologyHover p {
  font-size: .9rem;
}

.technology:hover .technologyHover{
  display: flex;
}

.technology:hover .technologyFront{
  display: none;
}

.technology:hover img {
  transform: scale(1.05);
  transition: transform .4s ease-out ;
 }

.technology:hover {
  transform: translate(0, -.1rem);
  transition: transform .1s;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.368);
}

.technologyVideoWrapper {
  position: fixed;
  display: none;
  top:0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.849);
}

.technologyVideoPlayer {
  position: relative;
  display: inline-block;
  width: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 95%;
}

.closeVideo {
  position: absolute;
  top: -2rem;
  right: -2rem;
  cursor: pointer;
  font-size: 2.5rem;
  font-weight: 900;
}

.closeVideo::after {
  content: "\00d7";
}

.careers {
  padding: 6rem 0;
  background-color: var(--white);
}

.job {
  width: 95%;
  max-width: 1200px;
  margin: 2rem auto;
  border-radius: .1rem;
}

.jobTitle {
  border-bottom: 1px solid rgba(0, 0, 0, 0.44);
  position: relative;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: .1rem;
  background-color: white
}

.jobTitle div:first-child {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  cursor: pointer;
}

.jobTitle div {
  text-align: right;
}

.jobTitle h2 {
  color: var(--red);
}

.jobToggle {
  display: none;
  transition: all 1s;
  background-color: white;
}

.jobToggle.open {
  display: block;
  transition: all 1s;
}

.jobToggle h3 {
  padding: 1rem;
  font-weight: 600;
}

.jobToggle p {
  padding: 0 1rem;
  max-width: 700px;
  font-size: .9rem;
}

.applicationForm {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  width: 500px;
  margin-left: auto;
}

.applicationForm div {
  position: relative;
  width: 100%;
  margin: 1rem;
}

.inputWrapper label {
  position: absolute;
  top: -.4rem;
  left: .5rem;
  font-size: .65rem;
  font-weight: 500;
  padding: 0 .3rem;
  background-image: linear-gradient(to top, white 40%, white);
  z-index: 2;
  pointer-events: none;
}

.inputWrapper input, textarea {
  width: 100%;
  border: 1px solid rgba(128, 128, 128, 0.526);
  border-radius: .3rem;
  accent-color: var(--red);
  padding: .5rem;
}

.inputWrapper input {
  height: 2.5rem;
}

.applicationForm input::placeholder, textarea::placeholder {
  opacity: 1;
}

.applicationForm input[type="checkbox"] {
  height: 1rem;
  accent-color: var(--red);
}

.checkBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.checkBox label {
  position: static;
  display: inline-block;
  vertical-align: middle;
}

.checkBox input {
  display: inline-block;
  margin: 0 .5rem;
  padding: 0rem;
  vertical-align: middle;

}




.contact {
  background-color: #52525114;
  border-top: .25rem solid var(--red);
}

.contactWrapper {

}

.contactDetails {
  text-align: center;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding: 3rem 0;
}

.contactDetails p {
  font-size: 1.5rem;
  font-weight: 300;
}

.contactDetails h1 {
  padding: 2rem;
}

.contactDetails a {
  color: var(--black);
}

.contactDetails svg {
  color: var(--red);
  margin: .5rem;
}

footer {
  background-color: var(--red);
  text-align: center;
  padding: 1rem;
}


