@media only screen and (max-width: 850px) {

  .heroHeadline h1 {
    max-width: 100%;
    font-size: 3rem;
    text-align: center;
  }

  .introVideoWrapper {
    margin-right: auto;
  }

  .heroFlex {
    margin: 8rem 0;
  }

  .team {
    padding: 7rem 0;
  }

  .team h1 {
    font-size: 2.5rem;
    padding: 0 1rem;
  }

  .flexWrap div {
    text-align: center;
  }

  .sectionHeader {
    height: 20rem;
  }

  .sectionHeader h1 {
    font-size: 2.5rem;
  }

  .differenceFlexWrap {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .differenceText {
    text-align: center;
  }

  .differenceProgessBars h2 {
    text-align: center;
  }

  .technologyVideoPlayer {
    position: relative;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90vw;
    height: auto;
  }

  .careers > h1 {
    font-size: 2.5rem;
    text-align: center;
    padding: 7.5rem 0 5rem;
    font-weight: 600;
  }

  .jobTitle {
    padding: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .jobTitle h2 {
    margin: 2rem 0 1rem;
  }

  .jobTitle h2,
  .jobTitle h3 {
    text-align: center;
    
  }

  .jobToggle {
    text-align: center;
  }

  .jobForm {
    padding: 0;
    margin: 0;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.477); */
  }

  .careersFormWrapper {
    background-color: white;
    margin: 5rem 0 0;
    padding: 4rem 0;
  }

  .jobOpenButton {
    position:static;
    margin: 3rem 0;
  }

  .jobOpenButtonLow {
    position: static;
    cursor: pointer;
    color: var(--red);
    width: auto;
    margin: 0 auto;
    display: block;
  }

  .contact {
    padding: 5rem 0 4rem;
  }

  .contactDetails h1 {
    font-size: 2.5rem;
    padding: 0 0 1rem;
  }

  .contactDetails h2 {
    padding: 0.2rem;
    font-size: 1rem;
  }

  .contactDetails svg {
    font-size: 2rem;
  }

}

@media only screen and (max-width: 430px) {
  .sectionHeader {
    height: 15rem;
  }

  header a:nth-child(2) {
    font-size: 0.8rem;
    padding: 0.5rem;
  }

  .splitButton span:nth-of-type(2) {
    display: none;
  }

  .heroHeadline h1 {
    font-size: 2.5rem;
  }

  .heroFlex {
    margin: 5rem 0;
  }

  .team {
    padding: 3rem 0 5rem;
  }

  .teamFlex {
    gap: 0rem;
  }


  .difference {
    background-color: var(--white);
    width: 100%;
    padding: 3rem 0 5rem;
  }

  .technologyHover {
    justify-content: flex-end;
    overflow: scroll;
  }
  .technologyWrapper {
    padding: 5rem 0;
    gap: 5rem;
  }

  .reasonsWrapper {
    margin: 5rem auto 8rem;
    gap: 5rem 1rem;
  }

  .trainingWrapper {
    padding: 2.5rem 0;
  }

  .flexWrap {
    margin: 3rem auto 5rem;
    gap: 2rem;
  }

  .jobFlex {
    flex-direction: column;
  }

  .jobFlex h3 {
    flex: 1 2;
    font-weight: 600;
    min-width: auto;
    max-width: 90vw;
  }
  .jobFlex p {
    min-width: auto;
  }

  .jobForm {
    padding: 0 0 3rem;
  }

  .careers > h1 {
    font-size: 2.5rem;
    text-align: center;
    padding: 5rem 0 3rem;
    font-weight: 600;
  }

}
