@media only screen and (max-width: 1230px) {
  .heroHeroFlex h1 {
    font-size: 2.3rem;
  }
  }

@media only screen and (max-width: 1100px) {
.heroHeroFlex {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 3rem;
  margin: 3rem 0;
}

.heroHeroFlex {
  padding: 0;
}

.heroFlex h1 {
  font-size: 2rem;
    }
}

@media only screen and (max-width: 850px) {
  li::before { 
    content: '•';
    padding-right: 0.4rem;
  } 
  ul {
    list-style-position: outside;
    list-style-type:none;
  }
  


  .team {
    padding: 1rem 0;
  }

  .team h1 {
    font-size: 1.8rem;
    padding: 0 1rem;
  }

.teamflex-leader-head {
  flex-wrap: wrap-reverse;
  text-align: center;
}

.teamflex-leader-head div h1 {
  text-align: center;
}

.teamflex-leader-head img {
  margin: 0;
}



  .flexWrap div {
    text-align: center;
  }

  .sectionHeader {
    height: 20rem;
  }

  .sectionHeader h1 {
    font-size: 2.5rem;
  }

  .differenceFlexWrap {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .differenceText {
    text-align: center;
  }

  .differenceProgessBars h2 {
    text-align: center;
  }

  .technologyVideoPlayer {
    position: relative;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90vw;
    height: auto;
  }

  .careers > h1 {
    font-size: 2.5rem;
    text-align: center;

    font-weight: 600;
  }

  .job {
    padding: 0 1rem;
    max-width: 100%;
  }

  .jobTitle {
    padding: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .jobTitle h2 {
    margin: 2rem 0 1rem;
  }

  .jobTitle h2,
  .jobTitle h3 {
    text-align: center;
    
  }

  .jobToggle {
    text-align: center;
  }

  .jobForm {
    padding: 0;
    margin: 0;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.477); */
  }

  .careersFormWrapper {
    background-color: white;
    padding: 2rem 0;
    margin: 7.5rem auto 0;
  }

  .careersFormWrapper h1 {
    padding: 2rem .5rem 0;
  }
  .careersFormWrapper h3 {
    padding: 1rem .5rem 3rem;
  }

  .jobOpenButton {
    position:static;
    margin: 3rem 0;
  }

  .jobOpenButtonLow {
    position: static;
    cursor: pointer;
    color: var(--red);
    width: auto;
    margin: 3rem auto 0;
    display: block;
  }

  .contact {
    padding: 5rem 0 4rem;
  }

  .contactDetails h1 {
    font-size: 2.5rem;
    padding: 0 0 1rem;
  }

  .contactDetails h3 {
    padding: 0.2rem;
    font-size: 1rem;
  }

  .contactDetails svg {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 430px) {
  .sectionHeader {
    height: 15rem;
  }

  header a:nth-child(2) {
    font-size: 0.8rem;
    padding: 0.5rem;
  }



  .heroHeroFlex h1 {
    font-size: 2rem;
    padding: 0 0 2rem;
    text-align: center;
    width: 100%;
  }

  .heroFlex {
    margin: 3rem 0;
  }

  .team {
    padding: 1rem 0 5rem;
  }

  .teamFlex {
    gap: 0rem;
  }

  .difference {
    background-color: var(--white);
    width: 100%;
    padding: 3rem 0 5rem;
  }

  .technologyHover {
    justify-content: flex-end;
    overflow: scroll;
  }
  .technologyWrapper {
    padding: 5rem 0;
    gap: 3rem;
  }

  .reasonsWrapper {
    margin: 5rem auto 8rem;
    gap: 5rem 1rem;
  }

  .trainingWrapper {
    padding: 2.5rem 0;
  }

  .flexWrap {
    margin: 3rem auto 5rem;
    gap: 2rem;
  }

  .jobTitle {
    padding: 0;
  }

  .jobFlex {
    flex-direction: column;
  }

  .jobFlex h3 {
    flex: 1 2;
    font-weight: 600;
    min-width: auto;
    width: 100%;
    max-width: 90vw;
    text-align: center;
  }
  .jobFlex p {
    min-width: auto;
    width: 100%;
  }

  .jobForm {
    padding: 0 0 3rem;
  }

  .careers {
    padding: 2rem 0 0;
  }

  .careersButtons {
    margin: 0 auto 5rem;
  }

  .careers > h1 {
    font-size: 2.5rem;
    text-align: center;
    padding: 5rem 0 3rem;
    font-weight: 600;
  }

}
